<h1>
  Admin Skills
</h1>

<div class="py-4">
  <%= link_to "Create a new skill", new_admin_skill_path, class: "button" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th><abbr title="ID">ID</abbr></th>
      <th><abbr title="Created at">Created at</abbr></th>
      <th><abbr title="Name">Name</abbr></th>
      <th><abbr title="Actions">Action</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
    <tr>
      <td>
        <%= skill.id %>
      </td>
      <td>
        <%= skill.created_at %>
      </td>
      <td>
        <%= skill.name %>
      </td>
      <td>
        <%= link_to("Show", admin_skill_path(skill.id)) %> -
        <%= link_to("Update", edit_admin_skill_path(skill.id)) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
